.alert-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
    max-width: 50rem;
    font-size: 0.95rem;
  }
  
  .alert-icon {
    font-size: 1.5rem;
  }
  
  .alert-text {
    margin-top: 0.9rem;
  }
  