.container-login {
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding: 32px 16 px;
}

.login-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 1000px;
  width: 100%;
}

.login-title {
  font-size: 20px;
  color: #2c2c2c;
  margin-bottom: 16px;
  text-align: center;
}

.login-box {
  background-color: #fff;
  padding: 32px 24px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form label {
  font-weight: bold;
  margin-top: 8px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.btn-primary {
  background-color: #0066cc;
  color: white;
  border-radius: 6px;
  margin-top: 12px;
  padding: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 12px;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: not-allowed;
  position: relative;
  opacity: 0.8;
}

.btn-secondary:hover::after {
  content: "Em breve...";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #555;
  margin-top: 4px;
}

.alert-side {
  background-color: #fdecea;
  color: #a94442;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #f5c6cb;
  font-size: 0.9rem;
  max-width: 300px;
  height: fit-content;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);
  align-self: center;
}

.info-box {
  margin-top: 24px;
  background-color: #f1f1f1;
  border-left: 4px solid #ccc;
  padding: 16px;
  border-radius: 6px;
  font-size: 14px;
}

.image-gov{
  width: 15%;
  margin-left: 10px;
}

.error-msg {
  color: red;
  font-size: 0.9rem;
  margin: 4px 0 8px;
}