.container-page {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #6B6969;
    margin-bottom: 1.1rem;
}

.container-page p {
    font-size: 1.1rem;
    color: #7a7a7a;
    margin-bottom: 2rem;
}

  .no-exams {
  text-align: center;
  margin-top: 2rem;
  background-color: #fefefe;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.no-exams-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}